
<h1 class="brand-name">Cookies</h1>
<h2 class="title">Cookies</h2>
<head>
<title>fsdfsfs</title>

</head>
<body>
  <h1>sinatra</h1>
  <% @songs.each do |song| %>
  <h3><%= song[:title] %></h3>
  <p> <a href ="<%=song[:url]%>">video</a></p>
  <% end %>
</body>
